<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @product.image, class: 'img-fluid' %>
    </div>
    <div class="col-md-6">
      <h1><%= @product.name %></h1>
      <p><strong>Description:</strong> <%= @product.description %></p>
      <p><strong>Rating:</strong> <%= @product.rating %> (based on <%= @product.rating_count %> ratings)</p>

      <%= link_to 'Edit Product', edit_product_path(@product), class: 'btn btn-secondary' %>
      <%= link_to 'Delete Product', product_path(@product), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Back to Products', products_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
